
.container-cards{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap; 
 }
 
 .card{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    margin: 40px;
 }
 
 .card a {
    display: block;
       margin: 50px 40px;
       margin-bottom: -20px;
    }
 
 .card:hover{
    background-color: rgba(0, 0, 0, 0.099);
    transform: scale(1.2);
    transition: all 0.2s ease;
 }
 